body {
  background-color: aqua;
}
.large {
  font-size: 30px;
  margin-left: 200px;
}

@media (max-width: 480px) {
  body {
    background-color: blue;
  }
}
@media (min-width: 1201px) and (max-width: 1200px) {
  body {
    background-color: cyan;
  }
}
@media (min-width: 1201px) and (max-width: 1600px) {
  body {
    background-color: green;
  }
}
@media (min-width: 1601px) and (max-width: 2400px) {
  body {
    background-color: red;
  }
}
