body {
  background-color: pink;
  padding: auto;
}
header {
  font-size: 80px;
  color: red;
}

.form-login {
  text-align: center;
  border-color: black;
}
.form-floating {
  border-color: black;
}
